{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure    {:mvn/version "1.10.1"}
  com.datomic/dev-local  {:mvn/version "0.9.195"}
  duct/core              {:mvn/version "0.8.0"}
  duct/module.logging    {:mvn/version "0.5.0"}
  duct/server.http.jetty {:mvn/version "0.2.1"}
  metosin/reitit         {:mvn/version "0.5.5"}
  metosin/spec-tools     {:mvn/version "0.10.4"}}

 :aliases
 {:dev
  {:extra-paths ["dev/src" "dev/resources" "test"]
   :extra-deps  {integrant/repl {:mvn/version "0.3.1"}
                 hawk           {:mvn/version "0.2.11"}}}

  :repl
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts  ["-m" "rebel-readline.main"]}

  :carve
  {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                :sha     "4b5010a09e030dbd998faff718d12400748ab3b9"}}
   :main-opts  ["-m" "carve.main" #_"--opts" #_"'{:paths [\"src\" \"test\"]}'"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
   :main-opts  ["-m" "depot.outdated.main"]}

  :kondo
  {:extra-deps {clj-kondo {:mvn/version "2020.07.29"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "."]}

  :kibit
  {:extra-deps {tvaughan/kibit-runner {:mvn/version "0.1.0"}}
   :main-opts  ["-m" "kibit-runner.cmdline"]}

  :eastwood
  {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
   :extra-deps {jonase/eastwood {:mvn/version "0.3.11"}}}

  :fmt-fix
  {:extra-deps {com.jameslaverack/cljfmt-runner
                {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                 :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
   :main-opts  ["-m" "cljfmt-runner.fix"]}

  :fmt-check
  {:extra-deps {com.jameslaverack/cljfmt-runner
                {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                 :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
   :main-opts  ["-m" "cljfmt-runner.check"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0-612"}}
   :main-opts   ["-m" "kaocha.runner"]}

  :uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts  ["-m" "hf.depstar.uberjar" "configure-repl.jar"
                "-C" "-m" "practicalli.configure-repl"]}}}
